name: test
# Runs the Devbox installer tests

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'

  workflow_call:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  test-action:
    strategy:
      matrix:
        os: [macos-13, macos-14, macos-latest, ubuntu-latest]
        enable-cache: ['true', 'false']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install devbox
        uses: ./
        with:
          project-path: 'testdata'
          enable-cache: ${{ matrix.enable-cache }}
          disable-nix-access-token: "${{ github.ref != 'refs/heads/main' }}"

  test-action-with-devbox-version:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        enable-cache: ['true', 'false']
    steps:
      - uses: actions/checkout@v4
      - name: Install devbox
        uses: ./
        with:
          devbox-version: 0.13.6
          project-path: 'testdata'
          enable-cache: ${{ matrix.enable-cache }}
          disable-nix-access-token: "${{ github.ref != 'refs/heads/main' }}"

  test-action-with-sha256-checksum:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install devbox
        uses: ./
        with:
          devbox-version: 0.13.6
          refresh-cli: true
          project-path: 'testdata'
          sha256-checksum: '22a31081df183aab7b8f88a794505c7c0ae217d6314e61b3e0bfe6972b992199'
          disable-nix-access-token: "${{ github.ref != 'refs/heads/main' }}"

  test-action-with-sha256-checksum-failure:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install devbox
        id: install-devbox
        uses: ./
        continue-on-error: true
        with:
          devbox-version: 0.13.6
          refresh-cli: true
          sha256-checksum: 'bad-sha'
          project-path: 'testdata'
          disable-nix-access-token: "${{ github.ref != 'refs/heads/main' }}"
      - name: Fail on success
        if: steps.install-devbox.outcome == 'success'
        run: echo "The SHA check should have failed!" && exit 1

  test-action-with-sha256-checksum-on-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install devbox
        uses: ./
        with:
          devbox-version: 0.13.6
          refresh-cli: true
          sha256-checksum: '169836de22c41a1c68ac5a43e0514d4021137647c7c08ee8bd921faa430ee286'
          project-path: 'testdata'
          disable-nix-access-token: "${{ github.ref != 'refs/heads/main' }}"


  test-action-with-url-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install devbox
        uses: ./
        with:
          devbox-version: http://nightly-ubuntu.dev-jetify.com/
          refresh-cli: true
          project-path: 'testdata'
          disable-nix-access-token: "${{ github.ref != 'refs/heads/main' }}"
